body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #1f1f1f;
    color: white;
}

h2 {
    font-size: 2.8rem;
}

.hero {
    width: 100vw;
    position: relative;

}

.hero-img {
    background-image: url('./content/drift.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 20%;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
}

.hero h2 {
    position: absolute;
    top: 25%;
    left: 20%;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#about-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    gap: 30px;
}

#about-flex img {
    max-width: 40vw;
    max-height: 200px;
    border-radius: 50%;
    border-color: #37373c;
    border-style: solid;
    border-width: 4px;
}

.skills-grid {
    display: inline-block;
    gap: 10px;
    width: 90%;
    margin: auto;
}

.skills-grid li {
    padding: 4px;
    text-align: left;
}

hr {
    border: dotted #37373c 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

@media (min-width: 1100px) {
    .hero h1 {
        font-size: 4rem;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    #about-flex {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: auto;
        justify-content: center;
        margin-top: 80px;
    }
    #about-flex img {
        max-width: 20vw;
    }

    .about p{
        max-width: 300px;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: left;
        align-content: left;
        width: 60vw;
        margin: auto;
        text-align: left;
        padding-left: 10%;
    }

    .work {
        grid-row: span 2;
    }

    .skills-item {
        width: 90%;
    }
}
