<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hans Figueroa | Full Stack Web Developer </title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/5d1a936ee5.js" crossorigin="anonymous"></script>
</head>
<body> 
    <nav class="nav">
        <div id="left-nav">
            <i class="fa-solid fa-code fa-sm" style="color: #ffffff;"></i>
            <div id="logo-text-container">
                <span id="logo-text">Hans Figueroa</span>
            </div>
        </div>
        <div id="right-nav">
            <ul id="nav-list" class="nav-items">
                <li class="nav-item"><a href="#hero" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
    <nav class="contact-navbar">
        <a href="https://github.com/Weebtechnician" target="_blank">
            <i class="fa-brands fa-github fa-lg" style="color: #ffffff;"></i>
        </a>
        <a href="https://www.linkedin.com/in/hans-figueroa/" target="_blank">
            <i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i>
        </a>
        <a href="https://twitter.com/weebtechnician" target="_blank">
            <i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i>
        </a>
    </nav>

    <main>
        <section id="hero">
            <div class="hero-container">
                <img src="/content/selfie2.png" id="selfie" alt="selfie">                       
                <div class="hero-text slide-in-right">
                    <h1 class="hero-title slide-in-right">Hello World</h1>
                    <h2 class="hero-subtitle slide-in-right">I'm Hans</h2>
                    <h3 class="hero-subtitle slide-in-right">a Full Stack Web Developer</h3>
                    <a href="#contact" class="hero-button slide-in-right">Hire Me</a>
                </div>
                
            </div>
        </section>
        <section id="about" class="reveal">
            <h2 style="grid-column: span 2;">About me</h2>
            <div id="about-content">
                <h3>Who is Hans?</h3>
                <p>
                    I'm a full stack web developer based in San Diego, California. I've been self teaching myself web development since
                    July 2023. I'm currently enrolled with Nucamp to further excel my skills as a web developer.
                </p>
                <p>
                    I'm also a huge car enthusiast! I have my own racing sim setup, and mostly play iRacing.
                    I play video games like Diablo 4, Escape from Tarkov, Valorant, and Rocket League. 
                </p>
                <p>
                    I'm currently looking for a full time position as a full stack web developer. If you're interested in hiring me, please feel free
                    to contact me!
                </p>
            </div>
            <div id="skills-container">
                <h3>Skills</h3>
                <div id="skills"> 
                    <div class="skill-image">HTML5 <i class="fa-brands fa-html5 fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <div class="skill-image">CSS3 <i class="fa-brands fa-css3-alt fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <div class="skill-image">Javascript <i class="fa-brands fa-square-js fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <div class="skill-image">Node.js <i class="fa-brands fa-node-js fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <div class="skill-image">Bootstrap <i class="fa-brands fa-bootstrap fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <div class="skill-image">Github <i class="fa-brands fa-github fa-2xl" style="color: var(--space-cadet);"></i></div>
                </div>
            </div>
        </section>
        <hr class="reveal">
        <section id="projects" class="reveal">   
            <div class="projects-container">
                <h2 style="grid-column: span 2;">Projects</h2>
                <div id ="dice-game"class="project">
                    <h3>Roll The Dice</h3>
                    <div class="project-languages"><i class="fa-brands fa-square-js fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <img src="/content/RollTheDice.png" alt="roll-the-dice">
                    <div class="project-text">
                        <p>
                            Roll The Dice is a dice rolling webapp that allows people to roll two dice, and see the results. 
                        </p>
                        <a href="https://weebtechnician.github.io/RollTheDice/" target="_blank">View Project</a>
                    </div>
                </div>
                <div id ="dice-game"class="project">
                    <h3>Roll The Dice</h3>
                    <div class="project-languages"><i class="fa-brands fa-square-js fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <img src="/content/RollTheDice.png" alt="roll-the-dice">
                    <div class="project-text">
                        <p>
                            Roll The Dice is a dice rolling webapp that allows people to roll two dice, and see the results. 
                        </p>
                        <a href="https://weebtechnician.github.io/RollTheDice/" target="_blank">View Project</a>
                    </div>
                </div>
                <div id ="dice-game"class="project">
                    <h3>Roll The Dice</h3>
                    <div class="project-languages"><i class="fa-brands fa-square-js fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <img src="/content/RollTheDice.png" alt="roll-the-dice">
                    <div class="project-text">
                        <p>
                            Roll The Dice is a dice rolling webapp that allows people to roll two dice, and see the results. 
                        </p>
                        <a href="https://weebtechnician.github.io/RollTheDice/" target="_blank">View Project</a>
                    </div>
                </div>
                <div id ="dice-game"class="project">
                    <h3>Roll The Dice</h3>
                    <div class="project-languages"><i class="fa-brands fa-square-js fa-2xl" style="color: var(--space-cadet);"></i></div>
                    <img src="/content/RollTheDice.png" alt="roll-the-dice">
                    <div class="project-text">
                        <p>
                            Roll The Dice is a dice rolling webapp that allows people to roll two dice, and see the results. 
                        </p>
                        <a href="https://weebtechnician.github.io/RollTheDice/" target="_blank">View Project</a>
                    </div>
                </div>

                <div class="project">
                </div>
            </div>        
        
        </section>
        <section id="contact">
            <div class="contact">

            </div>
        </section>
        <section id="footer">
            <footer>
                <div>
                    <p>&copy; 2023 Hans Figueroa</p>
                </div>
            </footer>
        </section>
    </main>
    <script src="/index.js"></script>
</body>
</html>